{% extends 'base.html' %}

{% block content %}
    <div class="container ">
        <div class="d-flex justify-content-evenly">
            <h1 class="display-6 m-3">Welcome to Activity Analysis for Strava!</h1>
        </div>

        {% if not g.user %}
        <div class='d-flex flex-column align-items-center p-3'>
            <p>
                To view awesome charts of your Strava data, register for an account and log in!
            </p>
        </div>
        {% endif %}


    {% if g.user %}
    <div class='d-flex flex-column align-items-center p-3'>
        <p>
            If this is your first time here, click on the <strong>Authenticate with Strava</strong> button to allow
            this web application to download your activity data.
            <br><br>
            Once you are authenticated with Strava, click the <strong>Get Strava Data</strong> button to download
            your activity data and see awesome charts visualizing your fitness!
        </p>


        <div class="pt-5">
            {% if auth %}
                <a class="btn btn-outline-dark" href="{{ url_for('content.get_strava_data')}}">Get Strava Data</a>
            {% else %}
                <a class="btn btn-outline-dark" href="{{ url_for('content.authenticate_with_strava')}}">Authenticate with Strava</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}